%formContainerStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #message{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #8a0101;
    }

    label{
        align-self:flex-start;
        font-weight: bold;
    }

    input{
        background-color: #C9FFDC;
        width: 240px;
        height: 30px;
        border-radius: 6px;
        box-shadow: 2px 2px 4px #000000;
        border: none;
    }
    
    button{
        background-color: #11CB54;
        color: white;
        width: 130px;
        height: 30px;
        border-radius: 6px;
        box-shadow: 2px 2px 4px #000000;
        align-self: center;
    }
}