@use '../../style-templates/templates.scss';

.formContainer{
    @extend %formContainerStyle;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    label {
      margin-bottom: 10px;
    }
}