<div class="formContainer">
    <div id="instructionMessage">Please enter your new password and confirm your new password below.</div>
    <div id="message"></div>
    <div *ngIf="loading" class="spinner"></div>
    <form *ngIf="isSubmitAvalible" #newPasswordForm="ngForm" (ngSubmit)="submitNewPassword(newPasswordForm)" novalidate>
        <div class="form-group">
            <label for="password">New password:</label>
            <input type="password" name="password" ngModel #password="ngModel" required minlength="6">
        </div>
        <div class="form-group">
            <label for="passwordConfirm">Confirm new password:</label>
            <input type="password" name="passwordConfirm" ngModel #passwordConfirm="ngModel" required>
        </div>
        <div class="form-group">
            <button id="submitNewPassword" type="submit">Change password</button>
        </div>
    </form>
</div>