<div *ngIf="isVisible" class="dialogue-container">
    <div class="dialogue-content">
        <h2>ADD NEW CHARGING STATION</h2>

        <div class="dialogue-input-container">
            <div class="dialogue-input">
                <label for="name">Station name:</label>
                <input type="text" name="name">
            </div>
            <div class="longitude-latitude-container">
                <div class="longitude-latitude-inputs">
                    <div class="dialogue-input">
                        <label for="longitude">Longitude:</label>
                        <input type="text" name="longitude">
                    </div>
                    <div class="dialogue-input">
                        <label for="latitude">Latitude:</label>
                        <input type="text" name="latitude">
                    </div>
                </div>
                <button id="map-button"><img src="../../assets/map_location_icon.png" alt="Map Location"></button>
            </div>
        </div>

        <div class="dialogue-buttons">
            <button id="close-button" (click)="close()">Close</button>
            <button>Add</button>
        </div>
    </div>
</div>