<div class="formContainer">
    <div>Please enter the e-mail linked to your account. A password reset link will be sent shortly after.</div>
    <div id="message"></div>
    <div *ngIf="loading" class="spinner"></div>
    <form #emailForm="ngForm" (ngSubmit)="submitEmail(emailForm)" novalidate>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" ngModel #email="ngModel" required email>
        </div>
        <div class="form-group">
            <button id="submitEmail" type="submit">Submit</button>
        </div>
    </form>
</div>