<div id="formContainer">
    <h1>Login</h1>
    <div id="message"></div>
    <div *ngIf="loading" class="spinner"></div>
    <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)" novalidate>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" ngModel #email="ngModel" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" ngModel #password="ngModel" required>
        </div>
        <div class="form-group">
            <button id="login" type="submit">Login</button>
        </div>
    </form>
    <a routerLink="/passwordReset" id="passwordResetLink">I forgot my password</a>
    <div id="registerInstead">Don't have an account? <a routerLink="/registration" id="registrationLink">Register</a></div>
</div>