nav {
    background-color: #11CB54;
    padding: 0px;
    display: flex;
    width: 100%;
    align-items: center;

    #logo {
        margin-right: auto;
        text-align: left;
        font-size: 40px;
    }

    a {
        font-size: 20px;
        text-decoration: none;
        text-align: right;
        margin-right: 30px;
        font-weight: bold;
        color: #000;
        padding: 14px 16px;
        cursor: pointer;

        &:hover {
            background-color: #50d882;
        }
    }
}