<div *ngIf="!loading">
    <div class="stat">
        <div class="stat-item">
            <div class="stat-item-title">Total</div>
            <div class="stat-item-value">{{ totalStations }}</div>
        </div>
        <div class="stat-item green">
            <div class="stat-item-title">Available</div>
            <div class="stat-item-value">{{ availableStations }}</div>
        </div>
        <div class="stat-item red">
            <div class="stat-item-title">In use</div>
            <div class="stat-item-value">{{ unavailableStations }}</div>
        </div>
        <div class="stat-item yellow">
            <div class="stat-item-title">Offline</div>
            <div class="stat-item-value">{{ offlineStations }}</div>
        </div>
    </div>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Data added</th>
                <th>Added by</th>
                <th>Last sync</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let station of stations">
                <td>{{ station.name }}</td>
                <td>{{ station.dateAddedFormated }}</td>
                <td>{{ station.addedBy }}</td>
                <td>{{ station.lastSyncFormated }}</td>
                <td>
                    <span [ngClass]="getStatusClass(station.status)">
                      {{ station.status }}
                    </span>
                </td>
                <td>
                    <button class="first-button" (click)="updateStation(station)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#11cb54"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>
                    </button>
                    <button (click)="deleteStation(station)">                
                        <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#b81c1c"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/></svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <button class="floating-button" (click)="openAddStationDialogue()">Add station</button>
    <app-add-station-dialogue [isUpdateMode]="stationUpdate"  [isVisible]="isAddStationDialogueVisible" (closeDialogue)="refresh()" (refreshChargerView)="getStations($event)"></app-add-station-dialogue>

</div>
<div class="center" *ngIf="loading">
    <div class="spinner"></div>
</div>