$defaultFont: 'Arial', 'Helvetica', 'sans-serif';

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #F5FFF6;
    font-family: $defaultFont;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

canvas{
    transform: matrix(1, 0, 0, 1, 0, 0) !important;
}